site_name: UPSC Guide
site_url: https://upscguide.in.net/

page_index:
    en:
        /upsc.html: 1. About UPSC Civil Service Examination
    hi:
        #/hindi/upsc.html: 1. यूपीएससी सिविल सेवा परीक्षा के बारे में